<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cepdi.ComplementoPagos" version="1.0.1" targetFramework="net46" />
  <package id="System.Xml.XmlSerializer" version="4.3.0" targetFramework="net46" />
  <package id="TimbradoCepdi" version="2.2.1" targetFramework="net46" />
</packages>