<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
	<appSettings>
		<add key="Entrada" value="C:/WebApiTimbrado/Entrada" />
		<add key="Usuario" value="Demo1@mail.com" />
		<add key="Password" value="Demo123#" />
		<add key="UrlValidarAcceso" value="https://localhost:44373/api/Timbrado/ValidarAcceso" />
		<add key="UrlTimbrarComprobante" value="https://localhost:44373/api/Timbrado/TimbrarComprobante" />
		<add key="UrlObtenerPDFComprobante" value="https://localhost:44373/api/Timbrado/ObtenerPDFComprobante" />
		<add key="UrlCancelarComprobante" value="https://localhost:44373/api/Timbrado/CancelarComprobante" />
		<add key="UrlTimbrarComprobanteKAVAK" value="https://localhost:44373/api/Timbrado/TimbrarComprobanteKAVAK" />
	</appSettings>
</configuration>